<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Head -->
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="allPagesStyles.css">
</head>

<!-- Body -->
<body>
    <h1>Registration</h1>
    <br>
    <br>
    <div class="main form-signin">
        <form class="form-horizontal" th:action="@{/registration}" th:object="${newUser}" method="post">
            <fieldset>
                <!-- Username -->
                <div class="control-group">
                    <label class="control-label" for="username">Username</label>
                    <div class="controls">
                        <p class="alert alert-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</p>
                        <input th:field="*{username}" type="text" id="username" name="username" class=" form-control" required autofocus>
                    </div>
                </div>
                <!-- Password-->
                <div class="control-group">
                    <label class="control-label" for="password">Password</label>
                    <div class="controls">
                        <p class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name Error</p>
                        <input th:field="*{password}" type="password" id="password" name="password" class="form-control" required>
                    </div>
                </div>
                <!-- Button -->
                <div class="control-group">
                    <div class="controls">
                        <button class="btn btn-warning">Register</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</body>

<!-- Scripts (jQuerry, popper and bootstrap) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


</html>